<!doctype html>
<html>
<head>
  <title>The Game</title>
</head>
<body>

    <h1>Let's play!</h1>

    <form action="/madlib">

    Person: <input type="text" name="person"><br>
    Color: <select name="color">
      <option value="red">red</option>
      <option value="blue">blue</option>
      <option value="orange">orange</option>
      <option value="green">green</option>
      <option value="yellow">yellow</option>
      <option value="purple">purple</option>
        </select><br>
    Noun: <input type="text" name="noun"><br>
    Adjective: <input type="text" name="adjective"><br>
 
    <button type="submit">Create Madlib!</button>
    
    </form>

</body>
</html>